<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/mappage_style.css'%}">
    <link rel="stylesheet" href="{% static 'css/global_style.css'%}">

</head>

<body>
<div style="width: 100%; margin: 0 auto; display: flex">
    <div class="back_block">
        <form action="{% url 'choise_event_page' %}" method="get">
            <button class="but_func">НАЗАД</button>
        </form>
    </div>
    <div  class="map_block">
        <img class="map_img" src="{{ event_map }}" alt="">
        {% for line in list_direction_lines%}
        <img id ="{{ line.name_direction_line }}" class="map_img" src="{{ line.path_img_line }}" alt="">
        {% endfor %}
        {% for boundaries in list_side_boundaries%}
        <img id="{{ boundaries.name_side_boundaries }}" class="map_img" src="{{ boundaries.path_img_boundaries }}" alt="">
        {% endfor %}
    </div>
    <div class="filter_block">
        <button class="but_func" onclick="toggleDropdown()">ФИЛЬТРЫ</button>
        <ul class="dropdown-menu">
            {% for line in list_direction_lines%}
                <li id="filter_{{ line.name_direction_line }}" onclick="RemoveDesignations(this.id)">{{ line.name_direction_line }}</li>
            {% endfor %}
            {% for boundaries in list_side_boundaries%}
                <li id="filter_{{ boundaries.name_side_boundaries }}" onclick="RemoveDesignations(this.id)">{{ boundaries.name_side_boundaries }}</li>
            {% endfor %}
          </ul>
    </div>
    </div>
    <script>
        function RemoveDesignations(IdRemove) {
          var button_elem = document.getElementById(IdRemove);
          let name_search_element = IdRemove.replace('filter_', '');
          var removeElement = document.getElementById(name_search_element);
          if (removeElement.style.display === "none") {
            removeElement.style.display = "block";
            button_elem.style.backgroundColor  = "";
          } else {
            removeElement.style.display = "none";
            button_elem.style.backgroundColor  = "#A49999"
          }
        }
        function toggleDropdown() {
          var dropdownMenu = document.querySelector(".dropdown-menu");
          if (dropdownMenu.style.display === "none") {
            dropdownMenu.style.display = "block";
          } else {
            dropdownMenu.style.display = "none";
          }
        }
      </script>
    </body>
</body>
</html>