<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/mappage_style.css'%}">
    <link rel="stylesheet" href="{% static 'css/global_style.css'%}">

</head>

<body>
    <div class="back_block">
        <button class="but_func">НАЗАД</button>
    </div>
    <div  class="map_block">
        <img class="map_img" src="{{ event_map }}" alt="">
        {% for line in list_direction_lines%}
        <img class="map_img" src="{{ line.path_img_line }}" alt="">
        {% endfor %}
        {% for boundaries in list_side_boundaries%}
        <img class="map_img" src="{{ boundaries.path_img_boundaries }}" alt="">
        {% endfor %}
    </div>
    <div class="filter_block">
        <button class="but_func" onclick="toggleDropdown()">ФИЛЬТРЫ</button>
        <ul class="dropdown-menu">
            <li onclick="noned()">Пункт 1</li>
            <li>Пункт 2</li>
            <li>Пункт 3</li>
          </ul>
    </div>
    <script>
        function noned() {
          var dropdownMenu = document.querySelector(".arrow");
          if (dropdownMenu.style.display === "none") {
            dropdownMenu.style.display = "block";
          } else {
            dropdownMenu.style.display = "none";
          }
        }
        function toggleDropdown() {
          var dropdownMenu = document.querySelector(".dropdown-menu");
          if (dropdownMenu.style.display === "none") {
            dropdownMenu.style.display = "block";
          } else {
            dropdownMenu.style.display = "none";
          }
        }
      </script>
    </body>
</body>
</html>