<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/mappage_style.css'%}">
    <link rel="stylesheet" href="{% static 'css/global_style.css'%}">
    <script src="{% static 'js/map_page.js' %}"></script>
<style>
        #highlight {
            position: absolute;
            border: 2px solid red; /* Цвет круга */
            border-radius: 50%; /* Круглая форма */
            display: none; /* Скрыть круг по умолчанию */
            z-index: 10; /* Подняли круг выше остальных элементов */

        }
    </style>
</head>

<body>
<div style="width: 100%; margin: 0 auto; display: flex">
    <div class="back_block">
        <form action="{% url 'choise_event_page' %}" method="get">
            <button class="but_func">НАЗАД</button>
        </form>
    </div>
    <div class="map_block">

        <img class="map_img" src="{{ event_map }}" alt="" usemap="#event_map_area">
        {% for line in list_direction_lines%}
        <img id ="{{ line.name_direction_line }}" class="map_img" src="{{ line.path_img_line }}" alt="" usemap="#event_map_area">
        {% endfor %}
        {% for boundaries in list_side_boundaries%}
        <img id="{{ boundaries.name_side_boundaries }}" class="map_img" src="{{ boundaries.path_img_boundaries }}" alt="" usemap="#event_map_area">
        {% endfor %}
        <map name="event_map_area">
            {% for event_area in list_event_area.cities %}
                {% if event_area.isSpecial %}
                    <area shape="circle" coords="{{ event_area.coordinates }}" id="{{ event_area.city_name }}TS" href="" alt="">
                {% else %}
                    <area shape="circle" coords="{{ event_area.coordinates }}" id="{{ event_area.city_name }}" href="" alt="">
                {% endif %}
            {% endfor %}
        </map>

    </div>
    <div class="filter_block">
        <button class="but_func" onclick="toggleDropdown()">ФИЛЬТРЫ</button>
        <ul class="dropdown-menu">
            {% for line in list_direction_lines%}
                <li id="filter_{{ line.name_direction_line }}" onclick="RemoveDesignations(this.id)">{{ line.name_direction_line }}</li>
            {% endfor %}
            {% for boundaries in list_side_boundaries%}
                <li id="filter_{{ boundaries.name_side_boundaries }}" onclick="RemoveDesignations(this.id)">{{ boundaries.name_side_boundaries }}</li>
            {% endfor %}
          </ul>
    </div>
    </div>
<div id="highlight"></div>



    </body>
</body>
</html>