@font-face {
    font-family: FontTextButton;
    src: url('../fonts/Lato-Light.ttf')
}
@font-face {
    font-family: FontText;
    src: url('../fonts/Lato-ExtraBold.ttf')
}
body {
    background-color: #EBE2D9;
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh;
    box-sizing: border-box;
}
.back_block,
.filter_block {
    flex: 1;
}
.filter_block {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.map_block {
    flex: 3;
    text-align: center;
    position: relative;
    display: flex;
    justify-content: center;
}
.but_func {
    border: 2px solid;
    background-color: #EBE2D9;
    display: block;
    width: 80%;
    margin: 0 auto;
    padding: 15px 0 15px 0;
    margin-top: 30px;
    font-family: FontTextButton;
    font-weight: bold;
    font-size: 20px;
}
.dropdown-menu {
    display: none;
    border: 1.5px dashed #000000;
    width: 80%;
    padding: 0;
}
.dropdown-menu li {
    padding: 10px;
    list-style-type: none;
    border-bottom: none;
    text-align: center;
    font-family: FontTextButton;
    font-weight: bold;

}
.dropdown-menu li:hover {
    background-color: #f2f2f2;
}
.map_img {
    position: absolute;
    height: 100%;
}
.dropdown-menu {
    list-style: none;
    padding: 0;
    border: 1px solid transparent;
}

.dropdown-menu li {
    opacity: 0;
    animation: dropDown 0.5s ease-in-out forwards;
    animation-delay: 0.1s;
}
@keyframes dropDown {
    0% {
        transform: translateY(-50px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}